
code/.ipynb_checkpoints/bert_pos_tagger-checkpoint.ipynb
code/.ipynb_checkpoints/morfeusz_concraft_preannotation-checkpoint.ipynb
code/.ipynb_checkpoints/morfeusz_concraft_preannotation-Copy1-checkpoint.ipynb
code/bert/__pycache__/tasks.cpython-38.pyc
code/bert/__pycache__/utils_ner.cpython-38.pyc
code/bert/cached_dev_BertTokenizer_128
code/bert/cached_dev_BertTokenizer_128.lock
code/bert/cached_test_BertTokenizer_128
code/bert/cached_test_BertTokenizer_128.lock
code/bert/cached_test_BertTokenizer_256.lock
code/bert/cached_train_BertTokenizer_128
code/bert/cached_train_BertTokenizer_128.lock
code/bert/hist_test_UPOS/cached_test_BertTokenizer_128.lock
code/bert/hist_test_UPOS/cached_test_BertTokenizer_256
code/bert/hist_test_UPOS/cached_test_BertTokenizer_256.lock
code/bert/polUPOS-model/pytorch_model.bin
concraft-pl/
data/ud-treebanks/UD_Polish-LFG/LICENSE.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-dev.conllu
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-dev.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-test.conllu
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-test.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-train.conllu
NOTATKI.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-train.txt
data/ud-treebanks/UD_Polish-LFG/stats.xml
data/ud-treebanks/UD_Polish-PDB/LICENSE.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-dev.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-dev.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-test.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-test.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-train.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-train.txt
data/ud-treebanks/UD_Polish-PDB/README.md
data/ud-treebanks/UD_Polish-PDB/stats.xml
data/ud-treebanks/UD_Polish-PUD/LICENSE.txt
data/ud-treebanks/UD_Polish-PUD/pl_pud-ud-test.conllu
data/ud-treebanks/UD_Polish-PUD/pl_pud-ud-test.txt
data/ud-treebanks/UD_Polish-PUD/README.md
data/ud-treebanks/UD_Polish-PUD/stats.xml
code/bert/data_XPOS/cached_dev_BertTokenizer_128
code/bert/data_XPOS/cached_dev_BertTokenizer_128.lock
code/bert/data_XPOS/cached_test_BertTokenizer_128
code/bert/data_XPOS/cached_test_BertTokenizer_128.lock
code/bert/data_XPOS/cached_train_BertTokenizer_128
code/bert/data_XPOS/cached_train_BertTokenizer_128.lock
code/bert/hist_test_XPOS/cached_test_BertTokenizer_128
code/bert/hist_test_XPOS/cached_test_BertTokenizer_128.lock
code/bert/polXPOS-model/pytorch_model.bin
code/.ipynb_checkpoints/stanza-lemmatizer-evaluation-checkpoint.ipynb
code/.ipynb_checkpoints/bert-results-evaluation-checkpoint.ipynb
code/__pycache__/functions.cpython-38.pyc
code/bert/data_UPOS/cached_dev_BertTokenizer_128
code/bert/data_UPOS/cached_dev_BertTokenizer_128.lock
code/bert/data_UPOS/cached_test_BertTokenizer_128
code/bert/data_UPOS/cached_test_BertTokenizer_128.lock
code/bert/data_UPOS/cached_train_BertTokenizer_128
code/bert/data_UPOS/cached_train_BertTokenizer_128.lock
code/marmot/pl_custom.marmot
code/marmot/pretrained_models/pl.marmot
code/.ipynb_checkpoints/marmot-results-evaluation-checkpoint.ipynb
code/.ipynb_checkpoints/ud-annotation-evaluation-checkpoint.ipynb
code/__pycache__/preproc_bert.cpython-38.pyc
code/.ipynb_checkpoints/morfeusz-annotation-evaluation-checkpoint.ipynb
code/.ipynb_checkpoints/ud-annotation-evaluation-Copy1-checkpoint.ipynb
code/.ipynb_checkpoints/morfeusz-annotation-evaluation-Copy1-checkpoint.ipynb
code/.ipynb_checkpoints/Untitled-checkpoint.ipynb
code/ud-annotation-evaluation-Copy1.ipynb
code/.ipynb_checkpoints/ud-annotation-evaluation-backup-checkpoint.ipynb
code/ud-annotation-evaluation-backup.ipynb
code/.ipynb_checkpoints/stanza-lemmatizer-and-tagger-evaluation-checkpoint.ipynb
code/.ipynb_checkpoints/bigram-and-trigram-statistics-checkpoint.ipynb
code/.ipynb_checkpoints/NKJP-vocabulary-check-checkpoint.ipynb
code/.ipynb_checkpoints/korba_data_extraction-checkpoint.ipynb
*.xml
nkjp_access.txt
code/bert/polUPOS-model/runs/Mar29_10-16-24_LAPTOP-R5DMFSM2/1680077804.4975698/events.out.tfevents.1680077804.LAPTOP-R5DMFSM2.238.1
code/bert/polUPOS-model/runs/Mar29_10-16-24_LAPTOP-R5DMFSM2/events.out.tfevents.1680077804.LAPTOP-R5DMFSM2.238.0
code/bert/polUPOS-model/runs/Mar29_10-16-24_LAPTOP-R5DMFSM2/events.out.tfevents.1680097233.LAPTOP-R5DMFSM2.238.2
*.1
*.0
code/bert/polXPOS-model/runs/Mar29_23-40-17_LAPTOP-R5DMFSM2/events.out.tfevents.1680142184.LAPTOP-R5DMFSM2.129.2
code/.ipynb_checkpoints/error_extraction-checkpoint.ipynb
code/bert/polXPOS-model/runs/Mar28_17-16-49_LAPTOP-R5DMFSM2/events.out.tfevents.1680033846.LAPTOP-R5DMFSM2.144.2
code/bert/polUPOS-model/runs/Mar28_09-55-11_LAPTOP-R5DMFSM2/events.out.tfevents.1680008853.LAPTOP-R5DMFSM2.77.2
code/.ipynb_checkpoints/error-statistics-checkpoint.ipynb
thesis/resources/natural-language-processing-for-similar-languages-varieties-and-dialects-a-survey.pdf
data/ngram_stats/upos_onegrams_tests.xlsx
code/.ipynb_checkpoints/bigram-and-trigram-statistics-Copy1-checkpoint.ipynb
code/bigram-and-trigram-statistics-Copy1.ipynb
