
code/.ipynb_checkpoints/bert_pos_tagger-checkpoint.ipynb
code/.ipynb_checkpoints/morfeusz_concraft_preannotation-checkpoint.ipynb
code/.ipynb_checkpoints/morfeusz_concraft_preannotation-Copy1-checkpoint.ipynb
code/bert/__pycache__/tasks.cpython-38.pyc
code/bert/__pycache__/utils_ner.cpython-38.pyc
code/bert/cached_dev_BertTokenizer_128
code/bert/cached_dev_BertTokenizer_128.lock
code/bert/cached_test_BertTokenizer_128
code/bert/cached_test_BertTokenizer_128.lock
code/bert/cached_test_BertTokenizer_256.lock
code/bert/cached_train_BertTokenizer_128
code/bert/cached_train_BertTokenizer_128.lock
code/bert/hist_test_UPOS/cached_test_BertTokenizer_128.lock
code/bert/hist_test_UPOS/cached_test_BertTokenizer_256
code/bert/hist_test_UPOS/cached_test_BertTokenizer_256.lock
code/bert/polUPOS-model/pytorch_model.bin
concraft-pl/
data/ud-treebanks/UD_Polish-LFG/LICENSE.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-dev.conllu
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-dev.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-test.conllu
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-test.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-train.conllu
NOTATKI.txt
data/ud-treebanks/UD_Polish-LFG/pl_lfg-ud-train.txt
data/ud-treebanks/UD_Polish-LFG/stats.xml
data/ud-treebanks/UD_Polish-PDB/LICENSE.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-dev.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-dev.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-test.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-test.txt
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-train.conllu
data/ud-treebanks/UD_Polish-PDB/pl_pdb-ud-train.txt
data/ud-treebanks/UD_Polish-PDB/README.md
data/ud-treebanks/UD_Polish-PDB/stats.xml
data/ud-treebanks/UD_Polish-PUD/LICENSE.txt
data/ud-treebanks/UD_Polish-PUD/pl_pud-ud-test.conllu
data/ud-treebanks/UD_Polish-PUD/pl_pud-ud-test.txt
data/ud-treebanks/UD_Polish-PUD/README.md
data/ud-treebanks/UD_Polish-PUD/stats.xml
code/bert/data_XPOS/cached_dev_BertTokenizer_128
code/bert/data_XPOS/cached_dev_BertTokenizer_128.lock
code/bert/data_XPOS/cached_test_BertTokenizer_128
code/bert/data_XPOS/cached_test_BertTokenizer_128.lock
code/bert/data_XPOS/cached_train_BertTokenizer_128
code/bert/data_XPOS/cached_train_BertTokenizer_128.lock
code/bert/hist_test_XPOS/cached_test_BertTokenizer_128
code/bert/hist_test_XPOS/cached_test_BertTokenizer_128.lock
code/bert/polXPOS-model/pytorch_model.bin
code/.ipynb_checkpoints/stanza-lemmatizer-evaluation-checkpoint.ipynb
code/.ipynb_checkpoints/bert-results-evaluation-checkpoint.ipynb
code/__pycache__/functions.cpython-38.pyc
code/bert/data_UPOS/cached_dev_BertTokenizer_128
code/bert/data_UPOS/cached_dev_BertTokenizer_128.lock
code/bert/data_UPOS/cached_test_BertTokenizer_128
code/bert/data_UPOS/cached_test_BertTokenizer_128.lock
code/bert/data_UPOS/cached_train_BertTokenizer_128
code/bert/data_UPOS/cached_train_BertTokenizer_128.lock
code/marmot/pl_custom.marmot
code/marmot/pretrained_models/pl.marmot
code/.ipynb_checkpoints/marmot-results-evaluation-checkpoint.ipynb
